/* 
  SCSS for marketing cards components

  Provides basic styling and functionality
*/

/* BEGIN MARKETING CARDS - MOBILE */
.marketing-cards {
  .card {

    // Rounded top corners to fit with card, and responsive
    img {
      transition: max-height 0.15s ease-out;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:hover {
      cursor: pointer;
    }

    // Create a down arrow via pure CSS
    .card-indicator {
      color: grey;
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }

    .card-body {
      line-height: 2em;
    }


    // When activated, add animation to image
    &.active {
      img {
        transition: max-height 0.15s ease-in;
      }
    }
  }
}
/* END MARKETING CARDS - MOBILE */

/* BEGIN MARKETING CARDS - DESKTOP */
@media only screen and (min-width: 1024px)  {

  // Bold card head on hover and card selection
  .marketing-cards {
    .card {
      &:hover {
        .card-head {
          font-weight: bold;
        }
      }

      &.active {
        .card-head {
          font-weight: bold;
        }
      }
    }
  }
}
/* END MARKETING CARDS - DESKTOP */
