/* 
  SCSS for index page layout

  Responsible for positioning the following components: hero, marketing cards,
  and marketing peek

  Handles hiding/showing on screen size as well
*/
@import "../base/_variables.scss";


/* BEGIN HERO */
.hero {
  margin: 2.5em 0;
  h1 {
    margin: 1.1em 0;
  }
}

.hero-button {
  margin: 2.2em 0;
}

/* END HERO */

/* BEGIN MARKETING - MOBILE */
.marketing-cards {
  display: flex;
  margin-top: -2.5em;

  .card {
    // Hide card images on mobile
    img {
      max-height: 0;
    }

    // Position CSS arrow and set as visible
    .card-indicator {
      margin: .75em auto;
      // Visibility hacks for card reveal animation
      visibility: visible;
      opacity: 1;
      height: auto;

      // Add class to toggle visibliity 
      &.hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
        margin: 0;
        transition: all 0.15s;
      }
    }

    // Begin cards as collapsed
    .card-body {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      margin: 0;

      // Smooth card animations for collapsing
      transition: all 0.15s;
      transition: max-height 0.15s ease-out;
    }

    // For active cards (on mobile, this means opened)
    &.active {
      // Enable the card image
      img {
        max-height: 300px;
        transition: max-height 0.15s ease-in;
      }

      // Open the card body 
      .card-body {
        margin: .75em auto;
        visibility: visible;
        opacity: 1;
        max-height: 300px;
        transition: max-height 0.15s ease-in;
      }
    }
  }

  // Hide the marketing peek for mobile
  .marketing-peek {
    display: none;
  }
}

/* END MARKETING - MOBILE */


/* BEGIN MARKETING - DESKTOP */
@media only screen and (min-width: 1024px)  {
  .marketing-cards {
    // On desktop, we don't need to show the dropdown arrow, card images, card
    // bodies, etc
    .card {
      .card-indicator {
        visibility: hidden;
        opacity: 0;
        height: 0;
        margin: 0;
      }

      img {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
      }

      .card-body {
        visibility: hidden;
        opacity: 0;
        height: 0;
        margin: 0;
      }

      &.active {
        .card-body {
          visibility: hidden;
          opacity: 0;
          height: 0;
          margin: 0;
        }
      }
    }

    // Position the peek via flex and re-enable just the peek card
    .marketing-peek {
      flex: 1 0 50%;
      display: flex; // show again

      // Above we disabled all card images and bodies, but on desktop we do want
      // to show the peek card. This selector is more specific and will allow
      // just peek to be visible.
      .card {
        &.active {
          img {
            visibility: visible;
            width: 100%;
            height: auto;
            transition: all 0.3s;
          }

          .card-body {
            visibility: visible;
            opacity: 1;
            height: auto;
            margin: auto;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

/* END MARKETING - DESKTOP */
