.Navbar {
  &_brand {
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: left;
  }

  &_brandLink {
    @include reset-link;

    text-transform: uppercase;
    font-size: $h1-font-size;
    white-space: nowrap;
  }

  &_tagline {
    font-size: $font-size-base * 0.65;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 650px) {
  .Navbar {
    display: flex;
    flex-wrap: nowrap;
  }
}

