.Navbar {
  &_brand {
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: left;
  }

  &_brandLink {
    @include reset-link;

    text-transform: uppercase;
    font-size: $h4-font-size;
    white-space: nowrap;
  }

  &_tagline {
    font-size: $font-size-base * 0.65;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 650px) {
  .Navbar {
    display: flex;
    flex-wrap: nowrap;

    &_brand {
      font-size: $h3-font-size;
    }
    &_tagline {
      font-size: $font-size-base;
      font-weight: lighter;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Navbar {
    &_brand {
      font-size: $h3-font-size;
    }
    &_tagline {
      font-size: $h5-font-size;
      font-weight: lighter;
    }
  }
}
