.Footer {
  flex-shrink: 0;
  width: 100%;
  background: $blue-grey;
  color: white;
  padding: 1em 0;
  font-size: $font-size-base * 0.75;

  &_container {
    @include container;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_blockM {
    height: 1.5em;
  }

  &_brand {
    text-decoration: none;
    color: white;
    font-size: $h4-font-size;
    text-transform: uppercase;
  }
}
