.Hero {
  text-align: center;

  &_text {
    font-size: 1.75em;
    font-weight: normal;
    margin: 1.1em 0;
    text-transform: capitalize;
  }

  &_subtext {
    font-size: 0.9em;
    font-weight: lighter;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 650px) {
  .Hero {
    &_text {
      font-size: 2.5em;
    }
    &_subtext {
      font-size: 1.25em;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Hero {
    &_text {
      font-size: 2.6em;
    }
    &_subtext {
      font-size: 1.5em;
    }
  }
}
