.Hero {
  text-align: center;
  margin: $spacer * 4 0;

  &_text {
    font-size: $h1-font-size;
    font-weight: normal;
    margin-bottom: $spacer * 2;
    text-transform: capitalize;
  }

  &_subtext {
    font-size: $h4-font-size;
    font-weight: lighter;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 650px) {
  .Hero {
    &_text {
      font-size: $h1-font-size * 1.5;
    }
    &_subtext {
      font-size: $h2-font-size;
    }
  }
}

