.Hero {
  text-align: center;
  margin: $spacer * 4 0;

  &_text {
    font-size: $h3-font-size;
    font-weight: normal;
    margin-bottom: $spacer * 2;
    text-transform: capitalize;
  }

  &_subtext {
    font-size: $font-size-base * 0.9;
    font-weight: lighter;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 650px) {
  .Hero {
    &_text {
      font-size: $h1-font-size;
    }
    &_subtext {
      font-size: $h5-font-size;
    }
  }
}

