/*
  SCSS to set default font, font size, and text spacing
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.6em;
}




