.Container
  header.Navbar
    div
      span.Navbar_brand
        a(href="index.html").Navbar_brandLink Engineering 100 | 960/970
        .Navbar_tagline
          | Assessing Climate & the meteorological Environment
    a.Burger(onclick='openNav();')
      .Burger_bar
      .Burger_bar
      .Burger_bar
    nav.NavLinks.NavLinks___active
      ul.NavLinks_list#navLinksList
        li.NavLinks_listItem
          a(href="index.html", class=(path === "index" ?
          "NavLinks_link___active" : undefined)).NavLinks_link Home
        li.NavLinks_listItem
          a(href="staff.html", class=(path === "staff" ?
          "NavLinks_link___active" : undefined)).NavLinks_link Staff
      //-
        a.hide-desktop(href="#")
          img.menu#menu(src="assets/images/ham.svg")
        ul.show-desktop.hide-mobile#nav
          li
            a(href="index.html", class=(path === "index" ? "active" : undefined)) Home
          li
            - var course_pages_paths = ["calendar", "labs", "feedback", "contact", "tools"]
            a(href="calendar.html", class=(course_pages_paths.includes(path) ? "active" :
            undefined)) Course
