.container
  header
    span.brand Weather Stations
    nav
      a.hide-desktop(href="#")
        img.menu#menu(src="assets/images/ham.svg")
      ul.show-desktop.hide-mobile#nav
        li
          a(href="index.html", class=(path === "index" ? "active" : undefined)) Home
        li
          - var course_pages_paths = ["calendar", "labs", "feedback", "contact", "tools"]
          a(href="calendar.html", class=(course_pages_paths.includes(path) ? "active" :
          undefined)) Course
