extends layouts/course.pug

block sidebar
  h5 Links
  ul.sidebar-pills
    li
      img(src="assets/images/grade.svg")
      a(href="#") Canvas
    li
      img(src="assets/images/video.svg")
      a(href="#") Lectures
    li
      img(src="assets/images/google-drive.svg")
      a(href="#") Drive
  h5 Pages
  ul.sidebar-pills
    li.active
      img(src="assets/images/calendar.svg")
      a(href="#") Calendar
    li
      img(src="assets/images/flask.svg")
      a(href="#") Labs
    li
      img(src="assets/images/information.svg")
      a(href="#") Feedback
    li
      img(src="assets/images/mail.svg")
      a(href="#") Contact
    li
      img(src="assets/images/cloud-computing.svg")
      a(href="#") Tools

block main
  h2 Calendar
  p Curabitur at volutpat ante. In posuere diam dolor, eu gravida dolor varius ut. Curabitur tristique, dolor et finibus consequat, dolor massa gravida nibh, eu tincidunt risus dolor id justo. Curabitur ut hendrerit felis, et aliquam sem.
  section
    .responsive-iframe
      iframe(src='https://calendar.google.com/calendar/embed?src=umich.edu_c8sngos30gjedcda3s9raemaqg%40group.calendar.google.com&ctz=America%2FDetroit' style='border: 0' width='800' height='600' frameborder='0' scrolling='no')
