extends layouts/main.pug

block content
  .container
    section.hero
      h1 Get Your First Taste of Engineering
      p.subhead Design a Weather Station. Solve Real Challenges.
      .hero-button
        a(href='#') Register Now
  .container
    .marketing
      ul
        li
          .marketing-icon
            img(src='assets/images/puzzle.svg')
          p.marketing-head Problem Solving
          p.marketing-text.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        li
          .marketing-icon
            img(src='assets/images/internet.svg')
          p.marketing-head Technical Communication
          p.marketing-text.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        li
          .marketing-icon
            img(src='assets/images/sport-team.svg')
          p.marketing-head Teamwork
          p.marketing-text.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque
