!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title ENGR100-960
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
  %body
    .container
      %header
        %span.brand Weather Stations
        %nav
          %a.hide-desktop{:href => "#"}
            %img#menu.menu{:src => "images/ham.svg"}/
          %ul#nav.show-desktop.hide-mobile
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Courses
      %section.hero
        %h1 Get Your First Taste of Engineering
        %p.subhead Design a Weather Station. Solve Real Challenges.
        .hero-button
          %a{:href => "#"} Register Now
      .marketing
        %ul
      %footer
        .footer-container
          .container
            %a.brand{:href => "#"} Weather Stations
