extends layouts/main.pug

include _staff-card-partial

block content
  script(src='assets/js/staff-min.js')
  .StaffPage 
    .Container
      h1 Meet The Staff

      .StaffSearch
        input(type="text", id="staffSearch", onkeyup="staffSearch()",
        placeholder="Search for staff by name, position, department, etc...").StaffSearch_input

      h3 Faculty
      - 
        var faculty = [
          { 
            name: "Aaron Ridley",
            email: "aridley@umich.edu",
            pronouns: "[placeholder]",
            position: "Engineering Lecturer",
            department: "Climate and Space Sciences",
            image: "/assets/images/headshots/ridley_aaron.jpg"
          },
          {
            name: "Laura Alford",
            email: "lslavice@umich.edu",
            pronouns: "[placeholder]",
            position: "Engineering Lecturer",
            department: "Naval Architecture and Marine Engineering",
            image: "/assets/images/headshots/alford_laura.jpg"
          },
          { 
            name: "Roger De Roo",
            email: "deroo@umich.edu",
            pronouns: "[placeholder]",
            position: "Engineering Lecturer",
            department: "Climate and Space Sciences",
            image: "/assets/images/headshots/de_roo_roger.jpg"
          },
          {
            name: "Alan Hogg",
            email: "alanhogg@umich.edu",
            pronouns: "[placeholder]",
            position: "Technical Communication Lecturer",
            department: "Program in Technical Communication",
            image: "/assets/images/headshots/hogg_alan.jpg"
          },

          {
            name: "Krista Quinn",
            email: "kristaqu@umich.edu",
            pronouns: "[placeholder]",
            position: "First-Year Programs Manager",
            department: "Academic Programs",
            image: "/assets/images/headshots/quinn_krista.jpg"
          },
          { 
            name: "Robin Fowler",
            email: "rootsr@umich.edu",
            pronouns: "[placeholder]",
            position: "Technical Communication Lecturer",
            department: "Program in Technical Communication",
            image: "/assets/images/headshots/fowler_robin.jpg"
          },

        ];

      .StaffProfileCardDeck#faculty
        each prof in faculty 
          +staff_card(prof)

      h3 Instructional Aides
      - 
        var ias = [
          { 
            name: "Maggie Carroll",
            email: "mkcarrol@umich.edu",
            pronouns: "[placeholder]",
            position: "IA",
            department: "Naval Architecture and Marine Engineering",
            image: "/assets/images/headshots/carroll_maggie.jpg"
          },
          { 
            name: "Connor Arrigan",
            email: "arriganc@umich.edu",
            pronouns: "[placeholder]",
            position: "IA",
            department: "Naval Architecture and Marine Engineering",
            image: "/assets/images/headshots/arrigan_connor.jpg"
          },
          { 
            name: "Cay Wagner",
            email: "cowagner@umich.edu",
            pronouns: "[placeholder]",
            position: "IA",
            department: "Electrical Engineering and Computer Science",
            image: "/assets/images/headshots/wagner_cay.jpg"
          },
          {
            name: "Julia Toye",
            email: "jtoye@umich.edu",
            pronouns: "[placeholder]",
            position: "IA",
            department: "Mechanical Engineering",
            image: "/assets/images/headshots/toye_julia.jpg"
          },
          {
            name: "Kitty Ascrizzi",
            email: "kascrizz@umich.edu",
            pronouns: "[placeholder]",
            position: "IA",
            department: "Space Science and Engineering",
            image: "/assets/images/headshots/ascrizzi_kitty.jpg"
          },
          {
            name: "Neil Johari",
            email: "njohari@umich.edu",
            pronouns: "He / Him / His / Himself",
            position: "IA",
            department: "Electrical Engineering and Computer Science",
            image: "/assets/images/headshots/johari_neil.jpg"
          }
        ];

      .StaffProfileCardDeck#ias
        each ia in ias
          +staff_card(ia)
