doctype transitional
head
  meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='ie=edge' http-equiv='X-UA-Compatible')
  title ENGR100-960
  link(href='assets/css/reset.css' rel='stylesheet')
  link(href='assets/css/main.css' rel='stylesheet')
  link(href='assets/css/course.css' rel='stylesheet')
  link(href='assets/css/animations.css' rel='stylesheet')
  script(src='assets/js/index-min.js')
body.App
  .App_content
    include ../_navbar.pug
    block content
  include ../_footer.pug
